/*JAI SHREE RAM*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main {
    width: 100vw;    
}

.images {
    width: 100vw;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "g"
    "h"
    "i"
    "f"
    "b"
    "e"
    "d"
    "c"
    "j";
    padding: 20px;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a a"
        "f g"
        "h i"
        "j j"
        "b c"
        "d e";
        background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    }
}

@media (min-width: 1020px) {
    .images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "a a b c"
        "a a d e"
        "f g j j"
        "h i j j";
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }
}

img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.image-a {
    grid-area: a;
}
.image-b {
    grid-area: b;
}
.image-c {
    grid-area: c;
}
.image-d {
    grid-area: d;
}
.image-e {
    grid-area: e;
}
.image-f {
    grid-area: f;
}
.image-g {
    grid-area: g;
}
.image-h {
    grid-area: h;
}
.image-i {
    grid-area: i;
}
.image-j {
    grid-area: j;
}